In [1]:
# Make sure this is commented in VS code
#exec('''import urllib; exec(urllib.request.urlopen('https://raw.githubusercontent.com/NickGMV/visual-tools/main/visual-aids-jupyter8.txt').read())''')

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### 10 weeks of Python - Week 1 

# Loading data and EDA

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### Imports

In [2]:
# always Start with imports
import pandas as pd

### Loading data and paths

We will load our data using read_csv in pandas, to load your data you will need to know its path a path is effectively the directions to your data, python can iether start at your python file and navigate fom there (relative), Or start at the root of your harddrive and navigate from there (absolute), Python can also navigate and find data online.

In [3]:
# To load in data use read_csv
my_first_df = pd.read_csv('../Assets/Data/Country-data.csv')

#check the data ising head to peek at first 5 rows
my_first_df.head()

,couuntry,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10,7.58,44.9,1610.0,9.44,56.2,5.82,553
1,Albania,16.6,28,6.55,48.6,9930.0,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460
3,Angola,::,::,::,::,5900.0,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200

#### Now to play with paths

In any project we want us and our stakeholders to be able to access our data quickly and easily, sometimes and absolute path is best, other times a relative one.

In [4]:
# This is a relative path, it is the trail from our python file to the data file

df_relative_path = pd.read_csv('../Assets/Data/Country-data.csv')
df_relative_path.head()

# To get the relative path work out the path you need to take to get to your data

# relative paths are good when sharing python and data in a folder (like this session)

,couuntry,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10,7.58,44.9,1610.0,9.44,56.2,5.82,553
1,Albania,16.6,28,6.55,48.6,9930.0,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460
3,Angola,::,::,::,::,5900.0,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200

In [5]:
# This is an abolute path, it uses the address of the data on the hardrive
# But it only works on the harddrive it is written!

df_absolute_path = pd.read_csv(r"C:\Users\nick.griffiths.MULTIVLAP1785\Documents\GitHub\pymat\pymat\Python 10 week course\Assets\Data\Country-data.csv")
df_absolute_path.head()

# To get an aboslute path access the porperties on your data file and copy its path, OR
# Right click on your data file and select "copy as path" then you can paste in the address directly

# If you have an absolute path yuo must add an r before the string to make it "raw" or it won't work

# Absolute paths are best for their speed to set up (if file structures are convoluted) 
# and for using them to pull data directly from files online

,couuntry,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10,7.58,44.9,1610.0,9.44,56.2,5.82,553
1,Albania,16.6,28,6.55,48.6,9930.0,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460
3,Angola,::,::,::,::,5900.0,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200

In [6]:
# In the case of our workshop, I want to share this efficiently and within a file structure(folder) 
# that won't change so relative path makes the most sense

countries = pd.read_csv('../Assets/Data/Country-data.csv')
countries.head()

,couuntry,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10,7.58,44.9,1610.0,9.44,56.2,5.82,553
1,Albania,16.6,28,6.55,48.6,9930.0,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460
3,Angola,::,::,::,::,5900.0,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### Now you try

1) Load in your dataset (or a practice set from the data folder) experiment with using relative or absolute paths

2) Consider the following which path method would be best for these situations (R/A) 

- A collaborative project shared with multiple people
- A quick check on some data on your machine
- A report/code in jupyter you want to send to your boss
- Accessing a datasource hosted online

In [7]:
# code here

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### EDA(exploratory data analysis)

EDA is a quick surface level exploration of your data, we will lok at some of the functions you can use to do this.

#### Basic EDA - summaries

In [8]:
# Show us the data tyes we have
countries.dtypes

couuntry       object
child_mort     object
exports        object
health         object
imports        object
income        float64
inflation     float64
life_expec    float64
total_fer      object
gdpp            int64
dtype: object

In [9]:
# bring up info on our dataset nulls etc
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   couuntry    168 non-null    object
 1   child_mort  165 non-null    object
 2   exports     165 non-null    object
 3   health      165 non-null    object
 4   imports     166 non-null    object
 5   income      166 non-null    float64
 6   inflation   166 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    object
 9   gdpp        168 non-null    int64
dtypes: float64(3), int64(1), object(6)
memory usage: 13.2+ KB

In [10]:
# describe will give us a set of summary stats on our data
countries.describe()

              income   inflation  life_expec           gdpp
count     166.000000  166.000000  167.000000     168.000000
mean    17232.427711    7.822807   70.601198   12894.785714
std     19302.107152   10.604188    8.886588   18295.853169
min       609.000000   -4.210000   32.100000     231.000000
25%      3457.500000    1.790000   65.300000    1310.000000
50%     10180.000000    5.415000   73.100000    4635.000000
75%     22850.000000   11.050000   76.800000   13775.000000
max    125000.000000  104.000000   82.800000  105000.000000

In [11]:
# get a null count

# checks every item gives true if null false if it has a value
# Not super useful on it's own but combined with a sum function it's very handy
pd.isna(countries).head(5)

,couuntry,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [12]:
# get a column by column sumary of nulls
countries.isna().sum()

couuntry      0
child_mort    3
exports       3
health        3
imports       2
income        2
inflation     2
life_expec    1
total_fer     1
gdpp          0
dtype: int64

In [13]:
# Get a whole data base null count
countries.isna().sum().sum()

17

In [14]:
# finds any duplicated rows
countries.duplicated().sum()

1

In [15]:
countries = countries.drop_duplicates()
countries.duplicated().sum()

0

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### Now you try

Try finding these summary stats etc on your dataset (or use the pratice dataset)

In [16]:
# code here

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

#### More EDA - filtering and simple aggregates

##### Basic aggregates

In [ ]:
countries.head()

In [ ]:
# Aggregates can be found by using their function
# If a field is non-numeric or has any strings in it mean will skip
# looks like we have some issues here!
countries[['life_expec','income']].std()

In [ ]:
# alternatively select a column before/after taking the mean
countries['income'].mean()
#or
countries.mean()['income']

In [ ]:
# selecting a column can be done two ways 

# dot notation
countries.exports

In [ ]:
# or bracket notation
countries['exports']

In [ ]:
# bracket notation is more robust and arguably more readable, 
# dot notation breaks when space or special characters are used 

# It's worth knowing both

In [ ]:
# A good function to know though not strictly an aggregate is value_counts() which counts
# how many times a value comes up in a given column
countries['exports'].value_counts()

##### Filters

In [ ]:
# To filter put a logic condition square brackets

# find all countries withincomes under 1500
countries[countries['income']<1500]

In [ ]:
# to combine use (& / |) to mean (and / or) and wrap each logic condition in round brackets

# find all countries with income under 1500 and GDP over 500
countries[(countries['income']<1500) & (countries['gdpp']>500) ]

In [ ]:
# You can save your conditions for later using using a variable (often reffered to as a mask)
mask = (countries['income']<1500) & (countries['gdpp']>500)

new_subset = countries[mask]
new_subset

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">

### Now you try

Try finding aggregates and filtering on your dataset (or use the pratice dataset)

In [ ]:
#code here

<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">


### See you next time


<hr style = "height:5px; background-color: blue; border-color:blue;">
<hr style = "height:5px; background-color: #89CFF0; border-color:#89CFF0;">
<hr style = "height:5px; background-color: black; border-color:black;">